
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* nav section created */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #FFFFFF;
    max-width: 1600px;
}
.nav-bar .menu-items .list-content li{
    list-style: none;
}
.menu-items .list-content{
    display: flex;
    gap: 32px;
}
.nav-bar .btn-1 button{
    background-color: #469165;
    max-width: 164px;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    
}
.btn-1 button:hover{
    background-color:rgba(139, 0, 139, 0.806);
}

/* Banner section created */

.bannar-container{
    max-width: 1600px;
    width: 100%;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 120px 140px 120px;
}

.banner-content .btn-2 button{
    max-width: 229px;
    padding: 8px 0;
    padding-right: 12px;
    background-color:#FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 400;
    border-radius: 1000px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}
.btn-2 button:hover{
    background-color:rgba(139, 0, 139, 0.806);
}

.banner-heading h1{
    max-width: 770px;
    margin: 0 auto;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 16px;
}

.banner-content p {
    max-width: 1360px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.shared-btns{
    max-width: 465px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    
}

.btn-arrow{
    display:inline-flex;
    align-items: center;      /* vertical alignment */
    gap: 10px;                /* space between icon & text */
    padding: 16px 16px;
    border: none;
    background-color: #469165;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.shared-btns .btn-arrow:hover{
    background-color:rgba(139, 0, 139, 0.806);
}

.btn-work{
    display:inline-flex;
    align-items: center;     
    gap: 10px;                
    padding: 16px 16px;
    border: none;
    background:none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border:  1px solid white;
}
.shared-btns .btn-work :hover{
    background-color:rgba(139, 0, 139, 0.806);
}